#NET "q[2]" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "Y_bar[0]" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "Y_bar[1]" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "Y_bar[2]" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "EO_bar" LOC = "F11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "GS_bar" LOC = "C11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
#NET "Y[5]" LOC = "D11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
#NET "Y[6]" LOC = "E9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
#NET "Y[7]" LOC = "F9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;


# ==== Slide Switches (SW) ====
NET "EI_bar" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP;
NET "A_bar[7]" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP;
NET "A_bar[6]" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP;
NET "A_bar[5]" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP;
NET "A_bar[4]" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN;
NET "A_bar[3]" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN;
NET "A_bar[2]" LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN;
NET "A_bar[0]" LOC = "V4" | IOSTANDARD = LVTTL | PULLDOWN;