//! **************************************************************************
// Written by: Map P.20131013 on Tue Nov 14 10:12:17 2023
//! **************************************************************************

SCHEMATIC START;
COMP "A_bar<2>" LOCATE = SITE "D18" LEVEL 1;
COMP "A_bar<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "A_bar<4>" LOCATE = SITE "H13" LEVEL 1;
COMP "A_bar<5>" LOCATE = SITE "N17" LEVEL 1;
COMP "A_bar<6>" LOCATE = SITE "H18" LEVEL 1;
COMP "GS_bar" LOCATE = SITE "C11" LEVEL 1;
COMP "A_bar<7>" LOCATE = SITE "L14" LEVEL 1;
COMP "Y_bar<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "Y_bar<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "Y_bar<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "EO_bar" LOCATE = SITE "F11" LEVEL 1;
COMP "EI_bar" LOCATE = SITE "L13" LEVEL 1;
COMP "A_bar<0>" LOCATE = SITE "V4" LEVEL 1;
SCHEMATIC END;

