//! **************************************************************************
// Written by: Map P.20131013 on Tue Sep 19 08:54:05 2023
//! **************************************************************************

SCHEMATIC START;
COMP "clki" LOCATE = SITE "C9" LEVEL 1;
COMP "rs" LOCATE = SITE "L13" LEVEL 1;
COMP "q<0>" LOCATE = SITE "C11" LEVEL 1;
COMP "q<1>" LOCATE = SITE "D11" LEVEL 1;
COMP "q<2>" LOCATE = SITE "E9" LEVEL 1;
COMP "q<3>" LOCATE = SITE "F9" LEVEL 1;
NET "clki_BUFGP/IBUFG" BEL "clki_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

