#####################################################
### SPARTAN-3E STARTER KIT BOARD CONSTRAINTS FILE
#####################################################


# ==== Pushbuttons (BTN) ====
NET "A[0]" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN;
NET "A[1]" LOC = "V4" | IOSTANDARD = LVTTL | PULLDOWN;
NET "B[0]" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN;
NET "B[1]" LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN;
#NET "reset" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN;

# ==== Clock inputs (CLK) ====
#NET "CLOCK" LOC = "C9" | IOSTANDARD = LVCMOS33;

# NET "CLK_50MHZ" LOC = "C9" | IOSTANDARD = LVCMOS33;
# Define clock period for 50 MHz oscillator (40%/60% duty-cycle)
# NET "CLK_50MHZ" PERIOD = 20.0ns HIGH 40%;
#NET "CLK_AUX" LOC = "B8" | IOSTANDARD = LVCMOS33;
#NET "CLK_SMA" LOC = "A10" | IOSTANDARD = LVCMOS33;

# ==== Discrete LEDs (LED) ====
# These are shared connections with the FX2 connector
#NET "S" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
#NET "COUT" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "S[0]" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "S[1]" LOC = "F11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "C0" LOC = "C11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
#NET "LED<5>" LOC = "D11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
#NET "LED<6>" LOC = "E9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
#NET "LED<7>" LOC = "F9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;

# ==== Slide Switches (SW) ====
NET "btn1" CLOCK_DEDICATED_ROUTE = true;
NET "btn1" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP;
NET "Cin" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP;
NET "btn2" CLOCK_DEDICATED_ROUTE = true;
NET "btn2" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP;
#NET "SW<3>" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP;

