//! **************************************************************************
// Written by: Map P.20131013 on Tue Oct 31 10:03:00 2023
//! **************************************************************************

SCHEMATIC START;
COMP "s<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "s<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "s<2>" LOCATE = SITE "N17" LEVEL 1;
COMP "en" LOCATE = SITE "L13" LEVEL 1;
COMP "y" LOCATE = SITE "E12" LEVEL 1;
COMP "i<1>" LOCATE = SITE "H13" LEVEL 1;
COMP "i<3>" LOCATE = SITE "V4" LEVEL 1;
COMP "i<6>" LOCATE = SITE "D18" LEVEL 1;
COMP "i<7>" LOCATE = SITE "K17" LEVEL 1;
SCHEMATIC END;

