# PlanAhead Generated physical constraints 
NET "clk_50M" LOC = C9;
NET "stb" LOC = E8;
NET "clk" LOC = F8;
NET "dio" LOC = C7;

# PlanAhead Generated IO constraints 

NET "clk_50M" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "stb" IOSTANDARD = LVCMOS33;
NET "dio" IOSTANDARD = LVCMOS33;
NET "rs" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN;
NET "btn1" CLOCK_DEDICATED_ROUTE = TRUE;
NET "btn1" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP;
NET "btn2" CLOCK_DEDICATED_ROUTE = TRUE;
NET "btn2" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP;
NET "btn3" CLOCK_DEDICATED_ROUTE = TRUE;
NET "btn3" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP;
NET "btn4" CLOCK_DEDICATED_ROUTE = TRUE;
NET "btn4" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP;


